# ======================================
# Maven / Gradle build
# ======================================
target/
build/
out/

# ======================================
# Logs
# ======================================
*.log
*.log.*

# ======================================
# IntelliJ IDEA / Eclipse / VSCode
# ======================================
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/

# ======================================
# OS files
# ======================================
.DS_Store
Thumbs.db

# ======================================
# Spring Boot sensitive configs
# ======================================
application.properties
application.yml
application-*.yml
application-*.properties

# ======================================
# Other
# ======================================
*.bak
*.tmp