version: "3.9"

services:

  postgres:
    image: postgres:16
    container_name: postgres-webserver
    restart: unless-stopped
    environment:
      POSTGRES_DB: webserver_db
      POSTGRES_USER: jrdevangel
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./BackEnd
    container_name: backend-webserver
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      SPRING_PROFILES_ACTIVE: db
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/webserver_db
      SPRING_DATASOURCE_USERNAME: jrdevangel
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "8000:8080"

  frontend:
    build: ./FrontEnd
    container_name: frontend-webserver
    restart: unless-stopped
    ports:
      - "3000:80"
    depends_on:
      - backend

  caddy:
    image: caddy:latest
    container_name: caddy-proxy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - ./Caddyfile:/etc/caddy/Caddyfile
    depends_on:
      - backend
      - frontend

volumes:
  postgres_data:
  caddy_data:
  caddy_config: